$themeColor: #bc3f3d;
/* You can add global styles to this file, and also import other style files */
.header{
	height: 50px;
	background-color: $themeColor;
	.heading{
		color: #ffffff;
		font-size: 1.5em;
		margin-left: 10px;
		padding-top: 5px;
		.fa-arrow-left{
			margin-right: 15px;
		}
	}
}

.a-class{
	margin-bottom: 10px;
	float: left;
	width: 100%;
	.left{
		float: left;
		width: 50%;
		font-weight: bold;
	}
	.right{
		float: left;
		width: 50%;
		text-align: right;
	}
	::after{
		clear: both;
	}
}

.bottom-box{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;

  background: #4c4c4c;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
	z-index: 9999;
}

.error{
	font-size: 11px;
	color: red;
}
