<div class="header">
  <div class="heading">Test App</div>
</div>
<div class="container-fluid savings-container" *ngIf="isSavingsAccount">
  <div class="card">
    <div class="card-body">
      <div class="card-text">
        <div class="a-name a-class"><div class="left">Name:</div><div class="right">Abhinav Singh</div></div>
        <div class="a-number a-class"><div class="left">Account No:</div> <div class="right">625501524220</div></div>
        <div class="a-button">View Details</div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid loan-container" *ngIf="isLoanAccount">
  <div class="card">
    <div class="card-body">
      <div class="card-text">
        <div class="a-name a-class"><div class="left">Name:</div><div class="right">Abhinav Singh</div></div>
        <div class="a-number a-class"><div class="left">Account No:</div> <div class="right">625501524220</div></div>
        <div class="a-button">View Details</div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid account-details border-bottom" *ngIf="isAccountDetail">
  <h5>Account Details</h5>
    <div class="row border-top">
      <div class="col col-6 border border-top-0 border-bottom-0">Left</div>
      <div class="col col-6 col-right border border-left-0 border-top-0 border-bottom-0">Right</div>
    </div>
    <div class="row border-top">
      <div class="col col-6 border border-top-0 border-bottom-0">Left</div>
      <div class="col col-6 col-right border border-left-0 border-top-0 border-bottom-0">Right</div>
    </div>
</div>

<div class="container-fluid cash-withdraw" *ngIf="isWithdraw">
  <h4>Cash Withdrawel Page</h4>
  <h5>Enter Amount</h5>
  <div class="withdraw-input">
    <input type="text" placeholder="Enter amount" />
    <div class="error">Please enter valid amount</div>
  </div>
  <h5>Select Account</h5>
  <div class="account-radio">
    <div class="card">
      <div class="card-body">
        <input type="radio" value="a1" name="s-account"/>
        <span>Account1</span>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <input type="radio" value="a2" name="s-account"/>
        <span>Account2</span>
      </div>
    </div>
  </div>
  <div class="error">Please select an account</div>
  <div class="bottom-box">SUBMIT</div>
</div>

<div class="container-fluid cash-withdraw" *ngIf="isdeposit">
  <h4>Cash Deposit Page</h4>
  <h5>Enter Amount</h5>
  <div class="withdraw-input">
    <input type="text" placeholder="Enter amount" />
    <div class="error">Please enter valid amount</div>
  </div>
  <h5>Select Account</h5>
  <div class="account-radio">
    <div class="card">
      <div class="card-body">
        <input type="radio" value="a1" name="s-account"/>
        <span>Account1</span>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <input type="radio" value="a2" name="s-account"/>
        <span>Account2</span>
      </div>
    </div>
  </div>
  <div class="error">Please select an account</div>
  <div class="bottom-box">SUBMIT</div>
</div>
