<div class="header">
  <div class="heading"><i class="fa fa-arrow-left" aria-hidden="true" (click)="back()"></i>Test App</div>
</div>
<div class="container-fluid">
	<div class="product-images"></div>
	<div class="product-details">
		<div class="p-title">{{productDetails.title}}</div>
		<div class="rate-container">
			    	  <span class="rating" [class.active] = 'ratingNum > 0 '></span>
			    	  <span class="rating" [class.active] = 'ratingNum > 1 '></span>
			    	  <span class="rating" [class.active] = 'ratingNum > 2 '></span>
			    	  <span class="rating" [class.active] = 'ratingNum > 3 '></span>
			    	  <span class="rating" [class.active] = 'ratingNum > 4 '></span>
			  	</div>
		<div class="price-container">
			<span class="d-price">{{productDetails.dPrice}}</span>
			<span class="a-price">{{productDetails.aPrice}}</span>
			<span class="discount">{{productDetails.discount}}</span>
		</div>
		<div style="float: left; width: 100%;">
			<app-rating [rating]='rating' [itemId]='rId' (ratingClick)='ratingComponentClick($event)'></app-rating>
		</div>
		<div class="policy-container">
			<span></span>
			<span></span>
			<span></span>
		</div>
		<div class="p-details">
			<ul>
				<li>Material: Cotton</li>
				<li>Fit: Regular Fit</li>
				<li>Material: Cotton</li>
				<li>Material: Cotton</li>
			</ul>
		</div>
		<div class="buy-button" (click)="buyProduct()">BUY NOW</div>
	</div>
</div>