<div class="header">
  <div class="heading" style="margin-bottom: 40px;"><div style="color: #ffffff; font-size: 24px; float: left;width: 50%;">Test App</div><div style="color: #ffffff; font-size: 14px; float: left; text-align: right; width: 50%; padding-top:10px; padding-right: 10px;">Logout</div></div>
</div>

<div class="container-fluid">
<div style="margin-bottom: 60px;">
  <div *ngIf = "isCartEmpty">Your cart is empty</div>
 <div class="card" style="width: 100%;" *ngFor="let prod of products">
    <div class="card-body">
      <div class="left">wwe</div>
      <div class="right">
      	<div class="title">{{prod.title}}</div>
      	<div class="price">
      		<div class="d-price">Rs. {{prod.dPrice}}</div>
      		<div class="a-price">
      			<span>Rs. {{prod.aPrice}}</span>
      			<span>{{prod.discount}} Off</span>
      		</div>
      	</div>
        <div class="cart-remove" (click)="deleteCart(prod.pId)">Remove</div>
      </div>
    </div>
  </div>
</div>
  <div class="bottom-bar">
  	<div class="left">Total Rs. {{cart.tPrice}}</div>
  	<a routerLink = "/ecom/checkout/delivery/address">
    <div class="right" *ngIf="!isCartEmpty">
  		<div class="button">Select Address</div>
  	</div>
  </a>
  </div>
</div>