<div class="header">
  <div class="heading">Bank App</div>
</div>

<div class="container-fluid bill-fetch">
  <h4>Pay your bills</h4>
  <div class="biller-category biller-select">
    <h5>Select Category</h5>
    <select>
      <option value="0">Choose Category</option>
      <option value="1">Electricity</option>
      <option value="2">Mobile</option>
      <option value="3">Water</option>
      <option value="4">DTH</option>
    </select>
  </div>
  <div class="biller-merchant biller-select">
    <h5>Select Merchant</h5>
    <select>
      <option value="0">Choose Merchant</option>
      <option value="1">Reliance</option>
      <option value="2">Adani</option>
      <option value="3">Kesco</option>
    </select>
  </div>

  <div class="bottom-box">SUBMIT</div>
</div>

<div class="container-fluid bill-payments">
  <div class="border-bottom" style="margin-bottom: 10px;">
  <h5>Bill Details</h5>
    <div class="row border-top">
      <div class="col col-6 border border-top-0 border-bottom-0">Left</div>
      <div class="col col-6 col-right border border-left-0 border-top-0 border-bottom-0">Right</div>
    </div>
    <div class="row border-top">
      <div class="col col-6 border border-top-0 border-bottom-0">Left</div>
      <div class="col col-6 col-right border border-left-0 border-top-0 border-bottom-0">Right</div>
    </div>
    </div>

    <h5>Select Account</h5>
    <div class="account-radio">
      <div class="card">
        <div class="card-body">
          <input type="radio" value="a1" name="s-account"/>
          <span>Account1</span>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <input type="radio" value="a2" name="s-account"/>
          <span>Account2</span>
        </div>
      </div>
    </div>
    <div class="bottom-box">PAY</div>
</div>
